/* Шрифты */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Semi Bold'), local('Montserrat-Semi-Bold'),
        url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Extra Bold'), local('Montserrat-Extra-Bold'),
        url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }

:root {
    --action-color: #FF9900;
    --activated-color: #E1670E;
    --text-color: #333333;
    --invercial-text-color: #CACACA;
    --background-color: #FFFFFF;
    --footer-background-color: #222222;
    --input-color: #414141;
    --black-filter: #000000;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0px 15px;
}

.section-header {
    margin-left: 2px; /* pixel perfect */
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
    color: var(--text-color);
}

.btn-yellow {
    border: 0px;
    background: var(--action-color);
    font-weight: 700;
    color: var(--background-color);
    cursor: pointer;
    transition: border, color 300ms cubic-bezier(.92, .33, .49, .88);
}

.btn-yellow:hover,
.btn-yellow:focus {
    filter: saturate(60%);
}

.btn-yellow:active {
    filter: saturate(100%);
    background: var(--activated-color);
}

.btn-img {
    border: 3px solid var(--action-color);
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    color: var(--background-color);
    background-color: transparent;
    cursor: pointer;
    transition: border, color 300ms cubic-bezier(.92, .33, .49, .88);
}

.btn-img:hover,
.btn-img:focus {
    background-color: var(--action-color);
}

.btn-img:active {
    border: var(--activated-color);
    background-color: var(--activated-color);
}

.btn-black {
    border: 1px solid var(--text-color);
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    transition: border, color 300ms cubic-bezier(.92, .33, .49, .88);
}

.btn-black:hover,
.btn-black:focus {
    background-color: #666666;
    color: var(--background-color);
}

.btn-black:active {
    border: var(--black-filter);
    background-color: var(--black-filter);
    color: var(--background-color);
}

/* Header */
.header {
    height: 100px;
    max-width: 100%;
    background-color: var(--background-color);
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 72px;
    width: 224px;
    display: flex;
    flex: 0 0 224px;
    position: relative;
}

.header-logo-link {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-logo-img {
    height: 100%;
    width: 100%;
}

.header-nav {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 11px;
}

.header-nav-list {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 5px; /* pixel perfect */
}

.header-nav-item:not(:first-child) {
    margin-left: 85px;
}

.header-nav-link {
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    transition: color 300ms cubic-bezier(.92, .33, .49, .88);
}

.header-nav-link:hover,
.header-nav-link:focus {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--action-color);
}

.header-nav-link:active {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--activated-color);
    color: var(--activated-color);
}

.btn-search {
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 75px;
    border: 0px;
    background: url("/img/search.svg");
    background-size: contain;
    background-position:center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.btn-burger {
    width: 30px;
    height: 23px;
    display: none;
    border: 0px;
    background: url("/img/Burger.svg");
    background-size: contain;
    background-position:center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* Main */
/* Section Hero */
.hero-container {
    min-height: 620px;
    height: auto;
}

.hero-back {
    display: block;
    height: 100%;
    width: 100%;
    background-image: url("/img/hero-img.jpg");
    background-size: cover;
}

.hero-content {
    height: 100%;
    padding: 90px 78px;
    color: var(--background-color);
}

.hero-header {
    max-width: 820px;
    margin: 0px;
    margin-top: 14px;
    font-size: 70px;
    line-height: 86px;
    font-weight: 800;
}

.hero-discription {
    max-width: 800px;
    margin-top: 20px;
    font-size: 23px;
    line-height: 28px;
    font-weight: 700;
    word-spacing: 2px; /* pixel perfect */
}

.hero-btn {
    width: 280px;
    height: 80px;
    margin-top: 98px;
    margin-left: 2px; /* pixel perfect */
    position: relative;
    font-size: 24px;
}

.hero-btn-link {
    display: inline-block;
    word-spacing: -3px; /* pixel perfect */
    color: inherit;
}

.hero-btn-link::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Section About Us */
.section-about-us {
    margin-top: 106px;
}

.about-us-description {
    max-width: 1235px;
    margin-top: 28px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-color);
}

.about-us-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.about-us-img-box {
    width: 49.15%;
    height: auto;
    min-height: 622px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.about-us-img {
    width: 100%;
    min-height: 100%;
    background: url("/img/about-us-img.jpg");
    background-size: cover;
    background-position: center center;
}

.about-us-img-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 176px;
    width: 100%;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-us-img-info-discription {
    max-width: 497px;
    margin-top: -5px; /* pixel perfect */
    margin-left: 55px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: var(--background-color);
}

.about-us-img-info-btn {
    height: 60px;
    width: 175px;
    margin-right: 68px;
    display: flex;
    flex: 0 0 175px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-us-img-info-btn-link {
    color: inherit;
}

.about-us-img-info-btn-link::before {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.about-us-do-list {
    width: 49.15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-us-do-item {
    width: 100%;
    min-height: 295px;
    height: auto;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    border: 1px solid var(--invercial-text-color);
    padding: 50px 30px;
}
.about-us-do-item:not(:first-child) {
    margin-top: 30px;
}

.about-us-do-img-box {
    width: 178px;
    height: 153px;
    display: flex;
    flex: 0 0 178px;
    margin-left: 32px;
}

.about-us-do-img {
    width: 100%;
    height: 100%;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-us-do-img-1 {
    background-image: url("/img/Group\ 25.svg");
}

.about-us-do-img-2 {
    background-image: url("/img/Group\ 24.svg");
}

.about-us-do-item:first-child .about-us-do-img-box {
    margin-top: 12px; /* pixel perfect */
}

.about-us-do-item:last-child .about-us-do-img-box {
    margin-top: 4px; /* pixel perfect */
}

.about-us-do-text {
    max-width: 490px;
    margin-top: 15px;
    margin-left: 60px;
}

.about-us-do-heading {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--text-color);
}

.about-us-do-description {
    width: 85%;
    margin-top: 2px; /* pixel perfect */
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--text-color);
}

/* Section Work */
.section-work {
    margin-top: 105px;
}

.section-work .container .section-header {
    margin: 0px; /* pixel perfect */
}

.work-nav {
    margin-top: 56px;
    margin-left: 2px; /* pixel perfect */
}

.work-nav-list {
    display: flex;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
}

.work-nav-item:not(:first-child) {
    margin-left: 89px;
}

.work-nav-link {
    color: var(--text-color);
    transition: color 300ms cubic-bezier(.92, .33, .49, .88);
}

.work-nav-link:hover,
.work-nav-link:hover {
    color: var(--action-color);
}

.work-nav-link:active {
    color: var(--activated-color);
}

.work-content {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    color: var(--text-color);
}

.work-content-left {
    width: 49.2%;
    display: inline-block;
}

.work-content-heading {
    margin-left: 2px;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
}

.work-content-description {
    max-width: 770px;
    margin-top: 8px;
    margin-left: 2px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}

.work-content-btn {
    margin-top: 61px;
}

.work-btn-more {
    width: 175px;
    height: 60px;
    position: relative;
    margin-left: 2px;
    font-size: 16px;
}

.work-btn-more-link {
    color: inherit;
}

.work-btn-more-link::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.work-btn-contract {
    width: 147px;
    height: 60px;
    margin-left: 26px;
    position: relative;
}

.work-btn-contract-link {
    color: inherit;
}

.work-btn-contract-link::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.work-content-banner {
    min-height: 465px;
    width: 49.2%;
    display: inline-block;
    padding-top: 8px;
}

.work-content-img {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("/img/work-img.jpg");
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}

/* Section FAQ */
.section-faq {
    margin-top: 106px;
}

.section-faq-list {
    margin-top: 43px;
}

.section-faq-item {
    min-height: 111px;
    max-height: 124px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--invercial-text-color);
    color: var(--text-color);
    transition: border, color 300ms cubic-bezier(.92, .33, .49, .88);
}

.section-faq-item:last-child {
    min-height: 112px;
    border-bottom: 1px solid var(--invercial-text-color);
}

.section-faq-item:hover,
.section-faq-item:focus{
    color: var(--action-color);
    border-top: 1px solid var(--action-color);
}

.section-faq-item:last-child:hover,
.section-faq-item:last-child:focus{
    border-bottom: 1px solid var(--action-color);
}

.section-faq-item:hover + li,
.section-faq-item:focus + li{
    border-top: 1px solid var(--action-color) ;
}

.section-faq-question {
    height: 100%;
    margin-left: 5px;
    margin: 30px 0px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: inherit;
}

.section-faq-btn {
    display: flex;
    flex: 0 0 50px;
    border-radius: 25px;
}

.section-faq-btn-icon {
    height: 50px;
    width: 50px;
    display: block;
    background: url("/img/btn-х.svg") center center no-repeat;
}

/* Footer */
.footer {
    margin-top: 100px;
}

.footer-background {
    width: 100%;
    height: auto;
    background-color: var(--footer-background-color);
}

.footer-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 76px;
}

.footer-links {
    width: 25.2%;
}

.footer-logo {
    width: 224px;
    height: 72px;
}

.footer-logo-img {
    width: 100%;
    height: 100%;
}

.footer-nav {
    margin-top: 12px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
}

.footer-nav-link {
    color: var(--invercial-text-color);
}

.footer-social {
    margin-top: 106px;
}

.footer-social-list {
    width: 100%;
    display: flex;
}

.footer-social-item:not(:last-child) {
    margin-right: 25px;
}

.footer-social-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.footer-social-icon-facebook {
    background-image: url("/img/fb.svg");
}

.footer-social-icon-vk {
    background-image: url("/img/vk.svg");
}

.footer-social-icon-instagram {
    background-image: url("/img/instagram.svg");
}

.footer-write {
    max-width: 100%;
    width: 570px;
    display: flex;
    flex-direction: column;
    flex: 0 0 570px;
    margin-top: 15px; /* pixel perfect */
}

.footer-write-header {
    font-size: 48px;
    line-height: 1;
    font-weight: 400;
    color: var(--invercial-text-color);
}

.footer-write-form {
    width: 100%;
    margin-top: 28px;
}

.footer-write-input {
    width: 100%;
    height: 60px;
    border: 0px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--input-color);
    color: var(--invercial-text-color);
}

.footer-write-input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--invercial-text-color);
}

.footer-write-input:not(:first-child) {
    margin-top: 25px;
}

.footer-write-textarea {
    max-width: 100%;
    max-height: 150px;
    margin-top: 25px;
    border: 0px;
    padding: 21px 24px;
    background-color: var(--input-color);
    color: var(--invercial-text-color);
}

.footer-write-textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--invercial-text-color);
}

.footer-write-btn-section {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
}

.footer-write-btn {
    width: 270px;
    height: 60px;
}

.footer-write-permission {
    display: flex;
    align-items: center;
    margin-right: 2px; /* pixel perfect */
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: var(--invercial-text-color);
}

.footer-write-checkbox {
    width: 14px;
    height: 14px;
    display: flex;
    user-select: none;
    margin-right: 4px;
    cursor: pointer;
}

.footer-description {
    max-width: 30%;
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.footer-description-text {
    max-width: 360px;
    margin-top: 78px;
    margin-right: 3px; /* pixel perfect */
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: var(--invercial-text-color);
}

@media (max-width: 1366px) {
    /* Header */
    .header-nav-item:nth-child(2) {
        display: none;
    }

    /* Section About Us */
    .about-us-img-box {
        width: 60%;
    }
    .about-us-do-list {
        width: 37%;
    }
    .about-us-do-item {
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding: 50px;
    }
    .about-us-do-img-box {
        margin: 0px;
    }
    .about-us-do-text {
        width: 100%;
        margin: 0;
        margin-top: 40px;
    }

    /* Footer */
    .footer-container {
        justify-content:space-around;
    }
    .footer-description {
        display: none;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 0 50px;
    }
    .section-header {
        margin: 0px;
    }
    /* Header */
    .header-container {
        position: relative;
    }
    .header-nav {
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    .header-left {
        margin: 0;
    }
    .header-nav-list {
        display:none;
    }
    .header-logo {
        height: 48px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .btn-search {
        order: 2;
        margin: 0;
    }
    .btn-burger {
        display: inline-block;
        order: 1;
    }

    /* Section Hero */
    .hero-container {
        min-height: 668px;
        height: auto;
    }
    .hero-content {
        padding: 100px 45px;
    }
    .hero-header {
        margin-top: 60px;
        font-size: 60px;
        line-height: 73px;
    }
    .hero-discription {
        width: 660px;
        margin-top: 10px;
        font-size: 20px;
        line-height: 24px;
        word-spacing: 0px;
    }
    .hero-btn {
        width: 287px;
        height: 80px;
        margin: 0px;
        margin-top: 110px;
    }

    /* Section About Us */
    .section-about-us {
        margin-top: 64px;
    }
    .about-us-description {
        margin-top: 30px;
    }
    .about-us-content {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .about-us-img-box {
        width: 100%;
        height: auto;
    }
    .about-us-img {
        width: 100%;
        min-height: 640px;
    }
    .about-us-img-info {
        min-height: 173px;
        height: auto;
    }
    .about-us-img-info-discription {
        margin-top: -2px;
        margin-left: 44px;
    }
    .about-us-img-info-btn {
        margin-right: 50px;
    }
    .about-us-do-list {
        width: 100%;
        margin-top: 50px;
    }
    .about-us-do-item {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .about-us-do-item:not(:first-child) {
        margin-top: 40px;
    }
    .about-us-do-img-box {
        margin: 0px;
        margin-bottom: 8px; /* #pixel perfect */
        margin-left: 61px;
    }
    .about-us-do-item:last-child .about-us-do-img-box {
        margin-top: 0px;
        margin-bottom: 18px; /* #pixel perfect */
    }
    .about-us-do-item:first-child .about-us-do-img-box {
        margin-top: 0px;
    }
    
    .about-us-do-text {
        margin: 0;
        margin-left: 59px;
    }

    /* Section Work */
    .section-work {
        margin-top: 65px;
    }
    .work-content {
        margin-top: 49px;
    }
    .work-content-description {
        margin-top: 8px; /* pixel perfect */
        max-width: 438px;
    }
    .work-content-btn {
        margin-top: 29px;
        margin-left: -2px; /* pixel perfect */
    }
    .work-content-banner {
        padding-left: 18px; /* pixel perfect */
    }

    /* Section FAQ */
    .section-faq {
        margin-top: 59px;
    }
    .section-faq-list {
        margin-top: 43px;
    }
    .section-faq-question {
        max-width: 750px;
        height: 100%;
        margin: 30px 0px;
        font-size: 20px;
        line-height: 32px;
    }

    /* Footer */
    .footer {
        margin-top: 55px;
    }
    .footer-container {
        justify-content:space-between;
    }
    .footer-links {
        width: 30%;
        margin-top: -1px; /* pixel perfect */
    }
    .footer-write {
        max-width: 100%;
        width: 533px;
        flex: 0 0 533px;
        margin-top: 15px; /* pixel perfect */
        margin-right: 2px; /* pixel perfect */
    }
    .footer-write-btn {
        width: 241px;
        padding: 20px 38px;
    }
    .footer-write-checkbox {
        margin-right: 1px; /* pixel perfect */
    }
}

@media (max-width: 992px) {
    /* Header */
    .header {
        height: 70px;
    }
    .btn-search {
        margin-right: -2px; /* pixel perfect */
    }
    .btn-burger {
        margin-left: -2px; /* pixel perfect */
        margin-top: -5px; /* pixel perfect */
    }

    /* Section Hero */
    .section-hero .container {
        padding: 0;
    }
    .hero-container {
        min-height: 700px;
        height: auto;
    }
    .hero-content {     
        padding-right: 0px;
        padding-left: 49px;
    }
    .hero-header {
        margin-top: 90px;
    }
    .hero-discription {
        width: 100%;
    }

    /* Section About Us */
    .section-about-us {
        margin-top: 62px;
    }
    .about-us-img-box {
        min-height: 650px;
    }
    .about-us-do-list {
        margin-top: 40px;
    }
    .about-us-do-item {
        min-height: 235px;
        padding: 15px;
    }
    .about-us-do-img-box {
        width: 118px;
        height: 97px;
        flex: 0 0 118px;
        margin: 0px;
        margin-left: 14px;
        margin-bottom: 9px; /* #pixel perfect */
        padding: 0px;
    }
    .about-us-do-text {
        max-width: 100%;
        width: 100%;
        margin: 0px;
        margin-left: 30px;
        margin-bottom: 2px; /* #pixel perfect */
    }
    .about-us-do-description {
        width: 100%;
    }

    /* Section Work */
    .work-nav {
        margin: 0px;
        margin-top: 55px;
    }
    .work-nav-list {
        justify-content: space-between;
    }
    .work-nav-item:not(:first-child) {
        margin-left: 0px;
    }
    .work-content {
        flex-direction: column;
        margin-top: 47px;
    }
    .work-content-left {
        width: 100%;
        margin-top: 42px;
        order: 2;
    }
    .work-content-description {
        max-width: 100%;
    }
    .work-content-btn {
        margin-top: 35px;
    }
    .work-content-banner {
        width: 100%;
        min-height: 284px;
        height: 284px;
        padding: 0px;
        order: 1;
    }
    .work-content-btn {
        margin: 0px;
        margin-top: 29px;
    }

    /* Section FAQ */
    .section-faq {
        margin-top: 65px;
    }
    .section-faq-item {
        margin-left: 3px;
    }
    .section-faq-question {
        max-width: 86%;
    }

    /* Footer */
    .footer {
        margin-top: 62px;
    }
    .footer-container {
        padding-bottom: 56px;
    }
    .footer-container {
        flex-direction: column;
        padding-top: 50px;
    }
    .footer-links {
        margin-top: 11px;
        order: 2;
    }
    .footer-nav {
        display: none;
    }
    .footer-social {
        margin-top: 16px;
    }
    .footer-write-btn-section {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    /* Section About US */
    .about-us-img-info-discription {
        max-width: 400px;
        margin: 0;
        margin-left: 30px;
        margin-top: -3px; /* pixel perfect */
        line-height: 31px;
    }
    .about-us-img-info-btn {
        margin: 0;
        margin-right: 30px;
    }
    .about-us-do-item:first-child .about-us-do-img-box {
        margin-top: 12px; /* pixel perfect */
    }
    .about-us-do-item:last-child .about-us-do-img-box {
        margin-bottom: 0px;
        margin-left: 18px; /* pixel perfect */
        margin-right: -4px; /* pixel perfect */
    }

    /* Footer */
    .footer-write {
        max-width: 100%;
        width: 533px;
        flex: 0 1 120px;
    }
    .footer-links {
        margin-top: 58px;
    }
}

@media (max-width: 576px) {   
    .container {
        padding: 0px 15px;
    }
    .section-header {
        font-size: 29px;
        line-height: 34px;
    }

    /* Header */
    .header-container {
        height: 100%;
        display: flex;
        align-items: center;
        position: static;
    }
    .header-logo {
        display: flex;
        top: 0;
        left: 0;
        transform: none;
        position: relative;
    }
    .header-nav {
        height: 100%;
    }
    .btn-search {
        float: none;
        display: inline-block;
        margin-left: auto;
        order: 1;
    }
    .btn-burger {
        float: none;
        display: inline-block;
        margin-left: 20px;
        order: 2;
    }

    /* Section Hero */
    .section-hero .container {
        padding: 0 15px;
    }
    .hero-container {
        min-height: 335px;
        height: 335px;
    }
    .hero-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }
    .hero-header {
        margin: 0;
        font-size: 29px;
        line-height: 34px;
        text-align: center;
    }
    .hero-discription {
        width: 100%;
        max-width: 400px;
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        text-align: center;
    }
    .hero-btn {
        width: 200px;
        height: 60px;
        margin-top: 35px;
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
    }

    /* Section About Us */
    .section-about-us {
        margin-top: 39px;
    }
    .about-us-description {
        margin-top: 0px;
        font-size: 16px;
        line-height: 32px;
    }
    .about-us-content {
        margin-top: 20px;
    }
    .about-us-img-info {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    .about-us-img-info-discription {
        max-width: 100%;
        height: auto;
        width: auto;
        margin: 0px;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }
    .about-us-img-info-btn {
        width: 200px;
        height: 60px;
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
        flex: 1 1 auto;
    }
    .about-us-do-list {
        margin-top: 25px;
    }
    .about-us-do-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .about-us-do-item:not(:first-child) {
        margin-top: 25px;
    }
    .about-us-do-text {
        max-width: 100%;
        width: 100%;
        margin: 0px;
    }
    .about-us-do-heading {
        max-width: 100%;
        font-size: 20px;
        line-height: 32px;
    }
    .about-us-do-description {
        width: 100%;
        font-size: 16px;
        line-height: 32px;
    }

    /* Section Work */
    .section-work {
        margin-top: 46px;
    }
    .work-content {
        margin-top: 25px;
    }
    .work-content-left {
        margin-top: 25px;
    }
    .work-content-heading {
        font-size: 20px;
    }
    .work-content-description {
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
        line-height: 32px;
    }
    .work-content-btn {
        margin-top: 25px;
    }
    .work-btn-more {
        width: 162px;
        height: 60px;
        margin: 0;
        font-size: 16px;
    }
    .work-btn-contract {
        width: 118px;
        height: 60px;
        margin: 0;
        font-size: 16px;
    }
    
    /* Section FAQ */
    .section-faq {
        margin-top: 39px;
    }
    .section-faq-list {
        margin-top: 25px;
    }
    .section-faq-item {
        min-height: 108px;
        max-height: 165px;
        margin: 0;
    }
    .section-faq-item:last-child {
        min-height: 110px;
        max-height: 167px;
    }
    .section-faq-question {
        max-width: 80%;
        font-size: 16px;
        line-height: 26px;
    }
    
    /* Footer */
    .footer {
        margin-top: 39px;
    }
    .footer-container {
        padding-top: 39px;
        padding-bottom: 20px;
    }
    .footer-write {
        margin: 0;
    }
    .footer-write-header {
        font-size: 29px;
    }
    .footer-write-form {
        margin-top: 25px;
    }
    .footer-write-btn-section {
        margin-top: 25px;
        flex-direction: column;
    }
    .footer-write-permission {
        margin: 0;
        margin-top: 20px;
    }
    .footer-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        border-top: 1px solid #595959;
        padding-top: 25px;
    }
}

@media (max-width: 320px) {   
    .section-header {
        font-size: 24px;
        line-height: 29px;
    } 

    /* Header */
    .header {
        height: 45px;
    }
    .header-logo {
        height: 31px;
        width: 97px;
        flex: 0 0 97px;
    }
    .btn-search {
        display: none;
    }
    .btn-burger {
        width: 25px;
        height: 19px;
        margin: 0;
        margin-left: auto;
    }

    /* Section Hero */
    .hero-container {
        min-height: 262px;
        height: 262px;
    }
    .hero-content {
        justify-content: flex-start;
        padding: 30px 20px;
    }
    .hero-header {
        margin-top: 2px;
        font-size: 20px;
        line-height: 24px;
    }
    .hero-discription {
        width: 95%;
        max-width: auto;
        margin-top: 7px;
        font-size: 12px;
        line-height: 15px;
    }
    .hero-btn {
        width: 162px;
        height: 40px;
        font-size: 12px;
    }

    /* Section About Us */
    .about-us-description {
        margin-top: 2px;
        font-size: 14px;
        line-height: 28px;
    }
    .about-us-content {
        margin-top: 11px;
    }
    .about-us-img-box {
        display: block;
        min-height: auto;
    }
    .about-us-img {
        display: block;
        min-height: 200px;
    }
    .about-us-img-info {
        height: auto;
        min-height: auto;
        align-items: flex-start;
        margin-top: 8px;
        padding: 0;
        position: static;
        background-color: transparent;
    }
    .about-us-img-info-discription {
        margin: 0px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        color: var(--text-color);
        text-align: left;
    }
    .btn-img:hover,
    .btn-img:focus {
        color: var(--background-color);
    }
    .about-us-img-info-btn {
        width: 162px;
        height: 40px;
        margin-top: 11px;
        border: 2px solid var(--action-color);
        font-size: 12px;
        line-height: 1;
        color: var(--action-color);
        position: static;
    }
    .about-us-do-list {
        margin-top: 25px;
    }
    .about-us-do-item {
        border: none;
        padding: 0;
    }
    .about-us-do-item:not(:first-child) {
        margin-top: 23px;
    }
    .about-us-do-img-box {
        width: 64px;
        height: 55px;
        margin: 0px;
        flex: 1 1 auto;
    }
    .about-us-do-item:last-child .about-us-do-img-box {
        margin: 0px;
    }
    .about-us-do-text {
        margin-top: 10px;
    }
    .about-us-do-heading {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
    }
    .about-us-do-description {
        margin-top: 5px;
        font-size: 14px;
        line-height: 28px;
    }
    
    /* Section Work */
    .work-nav {
        margin-top: 36px;
    }
    .work-nav-list {
        font-size: 14px;
    }
    .work-content {
        margin-top: 18px;
    }
    .work-content-banner {
        min-height: 160px;
        height: 160px;
    }
    .work-content-left {
        margin-top: 14px;
    }
    .work-content-heading {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }
    .work-content-description {
        margin-top: 5px;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
    }
    .work-content-btn {
        margin-top: 21px;
        display: flex;
        justify-content: space-between;
    }
    .work-btn-more {
        height: 40px;
        font-size: 12px;
    }
    .work-btn-contract {
        height: 40px;
        font-size: 12px;
    }
    
    /* Section FAQ */
    .section-faq-list {
        margin-top: 14px;
    }
    .section-faq-item {
        max-height: 133px;
        margin: 0;
    }
    .section-faq-item:last-child {
        max-height: 135px;
    }
    .section-faq-question {
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        word-spacing: 1px;
    }
    .section-faq-btn {
        flex: 0 0 30px;
        border-radius: 15px;
    }
    .section-faq-btn-icon {
        height: 30px;
        width: 30px;
    }
    
    /* Footer */
    .footer-write {
        margin-top: 3px;
    }
    .footer-write-header {
        font-size: 24px;
    }
    .footer-write-form {
        margin-top: 23px;
    }
    .footer-write-input {
        padding: 14px 20px;
        font-size: 14px;
    }
    .footer-write-input::placeholder {
        font-size: 14px;
    }
    .footer-write-textarea {
        padding: 21px 20px;
        font-size: 14px;
    }
    .footer-write-textarea::placeholder {
        font-size: 14px;
    }
    .footer-write-btn {
        width: 180px;
        height: 40px;
        padding: 0;
        font-size: 12px;
    }
    .footer-links {
        padding-top: 23px;
    }
    .footer-logo {
        width: 131px;
        height: 42px;
        margin-left: 1px; /* pixel perfect */
    }
    .footer-social-item:not(:last-child) {
        margin-right: 15px;
    }
    .footer-social-icon {
        width: 35px;
        height: 35px;
    }
}
